name: Run INI Utils Tests

on:
  workflow_dispatch:
  push:
    paths:
      - 'tools/ini-utils/**'
  pull_request:
    paths:
      - 'tools/ini-utils/**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout current repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      uses: chill-viking/npm-ci@v1.2.0
      with:
        working_directory: tools/ini-utils

    - name: Build ini-utils
      working-directory: tools/ini-utils
      run: npm run build

    - name: Run tests
      working-directory: tools/ini-utils
      run: npm run test